body {
 font-family: "Source Sans Pro";
 text-align: center;
 background-color: maroon;
 margin:0px;
}

iframe { /* Used to make sure tumblr content doesn't overflow. */
 max-width:100%;
}

a {
 text-decoration: none;
 color: red;
}

.tumblr_posts {
 text-align:center;
 padding:0px;
 list-style-type:none
}

.tumblr_post {
 border-bottom: 1px solid maroon;
 margin-top:10px;
 margin-bottom:10px;
}

.tumblr_text_post {
 text-align:justify;
}

.tumblr_caption {
 font-size:14px;
}

.tumblr_posts img{
 border-radius:5px;
 width:100%;
}


#logoContainer {
 margin-top:12px;
 display: inline-block;
 width: 300px;
 font-size: 40px;
 letter-spacing: 10px;
 cursor:default;
 user-select:none;
 -moz-user-select:none;
 -webkit-user-select:none;
 -ie-user-select:none;
}

#menuContainer {
 margin-bottom: 10px;
 margin: 0 auto;
 word-spacing: 15px;
 width:80%;

 border-bottom: 3px solid maroon;
 border-radius:15px;
}

#menuContainer a {
 color:black;
 font-size:2em;
 padding:0px 5px;
}

#menuContainer a:hover {
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 background-color: #FFD6CC;
}

.date {
 margin:0px;
 width:100%;
 text-align:right;
 font-style: oblique;
}

.menuGroup {
 display: inline-block;
}

#contentContainer {
 text-align:left;
 font-size: 18px;
 margin:0 auto;
 padding: 40px;
 padding-top: 10px;
 max-width: 500px;
 box-sizing:border-box;
}

.airtimeWidget {
 position: relative;
 margin: 0 auto;
 padding:0px 5px;
 color: white;
 box-sizing:border-box;
 background-color: maroon;
}

#status-current-show {
 padding: 0px 20px;
}

.airtimeWidget tr {
 color: white;
}

.airtimeWidget ul{
 text-align:left;
 list-style:none;
}


#playerContainer{
 margin: 0 auto;
 position: relative;
 width: 100%;
 text-align:center;
}

#playerController{
 display: inline-block;
 background-color:maroon;
 padding: 10px;
 text-align:center;
}

.playerButton {
 cursor: pointer;
 position:relative;
 margin: 5px;
 display: inline-block;
 vertical-align: middle;
}

.playerButton:hover {
 color:yellow;
}

#playButton {
 width: 0px;
 height: 0px;
 border-left: 20px solid white;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;
 border-right: none;
}

#pauseButton {
 width: 5px;
 height: 20px;
 border-left:4px solid white;
 border-right:4px solid white;
}

#globalContainer {
 position: relative;
 display: inline-block;
 width: 70%;
 margin: 0 auto;

 background-color: white;
 border-radius: 15px;
 border-left: 2px solid #550000;
 border-right: 2px solid #550000;
}

#copyrightContainer {
 color:white;
 margin-top: 15px;
}

#haverLogo {
 display: inline-block;
 width:120px;
 margin:10px;
}


.followLinks {
 position:absolute;
 left:20px;
 top: 10px;
 width: 40px;
}

.followLinks img {
 width:100%;
 border-radius:10px;
 margin-bottom:20px;
 opacity:0.8;
}

.followLinks img:hover {
 opacity:1;
}

#logo {
 margin-top:20px;
 margin-bottom:15px;
 height: 75px;
}

#staffList {
 list-style:none;
 text-align:center;
 line-height:30px;
}

.staffRole {
 font-style:oblique;
 opacity:0.8;
 font-size:14px;
}

/* Google Form Styling */
#ss-form {
 text-align:center;
 width:50%;
 margin:30px auto;
}
#ss-form input {
 padding:0.8em;
 margin-bottom:1em;
 background-color:#fef;
 border:0px;
 border-bottom:2px solid #fee;
}
#ss-form #ss-submit {
 width:100%;
 font-size:1.2em;
 background-color:maroon;
 color:white;
 cursor:pointer;
 opacity:1;
}
#ss-form #ss-submit:hover {
 opacity:0.6;
}
#navigation-table {
 width:100%;
}

@media screen and (max-width: 850px) {

 #contentContainer {
  padding:10px 0px;
 }

 .airtimeWidget {
 }

 #globalContainer {
  width:100%;
  display:block;
  border-radius:0px;
  border-size: 10px;
  box-sizing:border-box;
  margin:0px;
 }

 #menuContainer {
  border-radius:0px;
 }
 .menuGroup {
  padding:0px;
 }

 .followLinks {
  height:40px;
  width:initial;
 }

 .followLinks img {
  width:initial;
  height:100%;
 }

}

@media screen and (max-width: 450px) {

 .followLinks {
  position:relative;
  width:100%;
  margin-top:1em;
  left:initial;
  top:initial;
  height:5em;
 }

 .followLinks img {
  padding:5px;
  box-sizing:border-box;
 }

}
